---
import Section from "../../Section.astro";
import GetCurrentDateCode from "./GetCurrentDateCode.astro";
import GetCurrentDateMdx from "./GetCurrentDateMdx.mdx"
---
<Section
	title="Get current Local Date"
	slug="get-current-local-date"
>
	<p slot="description">This method return the current local date.</p>
	<GetCurrentDateMdx slot="mdx"/>
	<GetCurrentDateCode slot="code"/>
</Section>