---
import Section from '../../Section.astro'
import BetweenDaysMdx from './BetweenDaysMdx.mdx'
import BetweenDaysCode from './BetweenDaysCode.astro'
---
<Section
	title="Plus / Substract days"
	slug="plus-substract-days"
>
	<p slot="description">This method return plus/substract days from a date, <b>the date will be modified</b>.</p>
	<BetweenDaysMdx slot="mdx"/>
	<BetweenDaysCode slot="code"/>
</Section>