---
import Section from "../../Section.astro";
import FirstDayOfMonthCode from "./FirstDayOfMonthCode.astro";
import FirstDayOfMonthMdx from "./FirstDayOfMonthMdx.mdx"
---
<Section
	title="Get the first/last day of a month"
	slug="get-first-day-month"
>
	<p slot="description">This method return the first day of the month.</p>
	<FirstDayOfMonthCode slot="code"/>
	<FirstDayOfMonthMdx slot="mdx"/>
</Section>
