---
import Section from '../../Section.astro'
// import BetweenDaysMdx from './BetweenDaysMdx.mdx'
// import BetweenDaysCode from './BetweenDaysCode.astro'
---
<Section
	title="Get days between two dates"
	slug="get-days-between-two-dates"
>
	<p slot="description">Return the number of days between two dates</p>
	<!-- <BetweenDaysMdx slot="mdx"/>
	<BetweenDaysCode slot="code"/> -->
</Section>