---
import Section from "../../Section.astro";
import BetweenYearsMdx from './BetweenYearsMdx.mdx'
import BetweenYearsCode from './BetweenYearsCode.astro'
---
<Section
	title="Plus / Substract years"
	slug="plus-substract-years"
>
	<p slot="description">This method return plus/substract years from a date, <b>the date will be modified</b>.</p>
	<BetweenYearsMdx slot="mdx"/>
	<BetweenYearsCode slot="code"/>
</Section>