---
import Section from "../../Section.astro";
import YearsBetweenDatesMdx  from './yearsBetweenDatesMdx.mdx'
---
<Section
	title="Years Between dates"
	slug="years-between-dates"
>
	<YearsBetweenDatesMdx slot="mdx" />
</Section>