---
import Section from "../../Section.astro";
import NowInUTCCode from "./NowInUTCCode.astro"
import NowInUTCMdx from "./NowInUTCMdx.mdx"
---
<Section
	title="Current date in UTC"
	slug="current-date-in-utc"
>mmport
	<p slot="description">This method return the current date in UTC.</p>
	<NowInUTCCode slot="code"/>
	<NowInUTCMdx slot="mdx"/>
</Section>